* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(47, 47, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    margin: 5px 35px;
}

#codeFilled {
    display: block;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 5px;
}

button {
    background-color: rgb(73, 147, 176);
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    padding: 5px 0;
    color: white;
}